/* NAVBAR */
.navbar {
  background: black;
  padding: 15px 20px;
}

.container {
  max-width: 1100px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: gold;
  font-size: 20px;
}

/* MENU */
.nav {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover,
.nav a.active {
  color: gold;
}

/* MOBILE MENU */
.menu-toggle {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    background: black;
    text-align: center;
    padding: 10px 0;
  }

  .nav.active {
    display: flex;
  }
}
