/* SECTION */
.contact-section {
    padding: 80px 20px;
}

/* CARD */
.contact-box {
    max-width: 900px;
    margin: auto;
    background: rgba(255,255,255,0.08);
    padding: 40px 30px;
    border-radius: 20px;
    backdrop-filter: blur(6px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

/* TITLE */
.contact-box h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* GRID */
.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

/* INFO */
.contact-info p {
    margin: 15px 0;
    font-size: 16px;
}

/* FORM */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
}

/* BUTTON */
.contact-form button {
    width: 100%;
    padding: 12px;
    background: gold;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.contact-form button:hover {
    background: white;
}

/* MOBILE */
@media (max-width: 768px) {

    .contact-grid {
        grid-template-columns: 1fr;
    }

    .contact-box {
        padding: 25px 15px;
    }
}
