body {
    margin: 0;
    font-family: 'Noto Sans Tamil', sans-serif;
    background: #8b0000;
    color: white;
    text-align: center;
}

/* HERO */
.hero {
    padding: 100px 20px;
    background: linear-gradient(orange, red);
}

.hero h1 {
    font-size: 40px;
    color: yellow;
}

.hero p {
    font-size: 20px;
}

/* BUTTONS */
.btn {
    background: gold;
    color: black;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.btn.secondary {
    background: white;
}

/* INFO */
.info {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.box {
    background: #a52a2a;
    padding: 20px;
    border-radius: 10px;
}

/* COMPETITIONS */
.competitions {
    padding: 50px 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #b22222;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

.card button {
    background: gold;
    border: none;
    padding: 10px;
    margin-top: 10px;
}

/* ANNOUNCEMENTS */
.announcements {
    background: #ffcc00;
    color: black;
    padding: 30px;
}

/* FOOTER */
footer {
    padding: 20px;
    background: black;
}