body {
    margin: 0;
    font-family: 'Noto Sans Tamil', sans-serif;
    background: #8b0000;
    color: white;
    text-align: center;
}

/* HERO */
.hero {
    padding: 80px;
    background: linear-gradient(orange, red);
}

/* INFO */
.info {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.box {
    background: #a52a2a;
    padding: 15px;
    border-radius: 10px;
}

/* COMPETITIONS */
.competitions {
    padding: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #b22222;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: gold;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

/* DETAILS PAGE */
.details {
    background: white;
    color: black;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
}

/* FOOTER */
footer {
    padding: 20px;
    background: black;
}
